body {
    background-color: gray;
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 100vh; */
    /* display: flex; */
    /* border: 1px solid black; */
}

header{
    /* position: absolute; */
    float: right;
    /* border: 1px solid black; */
    /* margin-bottom: 500px; */
    width: 350px;
    text-align: right;
    
}

section.main{
    float: left;
    width: 100vw;
    margin-top: 100px;
    text-align: center;
}

.googletitle{
    /* border: 1px solid black; */
    font-size: 100px;
    font-weight: 500;
    letter-spacing: -5px;
    margin-bottom: 20px;
    text-align: center;
    /* background:linear-gradient(90deg,blue 39%,red 39%, red 46.5%, yellow 46%, yellow 53.5%, blue 53.5%,blue 60.5%,green 60.5%,green 63.5%,red 63.8%);
    color: transparent;
    -webkit-background-clip: text; */
}
span{
    /* border: 1px solid black; */
    margin: -10px;
}
input[name="sbar"]{
    width: 400px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 10px;
}

.under{
    
    /* position: absolute; */
    
    /* border: 1px solid black; */
    height: 100px;
    width: 400px;

    margin: auto;
}

.doc{
    /* position: absolute; */
    /* border: 1px solid black; */
    width: 50px;
    margin: auto;
    /* width: 80px;
    margin-left: 20%; */
    margin-left: 0px;
}

.webstore{
    /* position: absolute; */
    width: 80px;
    margin-top: -20px;
    margin-left: 150px;
    /* border: 1px solid black; */
}

.hlink{
    /* position: absolute; */
    /* border: 1px solid black; */
    width: 110px;
    margin-left: 290px;
    margin-top: -20px;
}

footer{
    float: left;
    /* width: 100vw; */
    margin-top: 150px;
    text-align: center;
}