body {
    background-color: gray;
}

header {
    float: right;
}

section {
    /* position:absolute; */
    position: relative;
    border: 1px solid black;
    top: 100px;
    text-align: center;
    /* margin-left: 50%; */
    /* float: center; */
}

.googletitle {
    text-align: center;
    font-size: 100px;
    font-weight: 600;
    border: 1px solid black;
}

.search {
    border: 1px solid black;    
    background-color: white;
    border-radius: 10px;
    height: 25px;
    text-align: center;
    /* padding: 5%; */
    /* margin: 5%; */
    color: gray;
}